/* -- Navbar & Dropdown -- */

.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 10px;
}

.navbar .dropdown-menu {
  border: none;
  background-color: rgb(255,255,255) !important;
}

@media (max-width: 992px) {
  .navbar .dropdown-menu {
    border: none;
    background-color: rgb(255,255,255) !important;
    margin-top: 8px;
    height: auto;
  }
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar .dropdown {
  position: static;
}

.navbar .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 44px;
}

.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display: block !important;
  visibility: visible;
  opacity: 1;
}

.navbar .dropdown-menu {
  background-color: #fff;
}

.nav-links:hover {
  text-decoration: none;
  color: rgb(205,205,205);
}

a.nav-links.active {
  color: rgb(0,0,0);
  font-size: 12px;
  font-family: montserrat;
  text-transform: uppercase;
  font-weight: 500;
}

.dropdown-img {
  width: 100%;
  height: auto;
}

.carthov {
  color: black;
}

.carthov:hover {
  color: rgb(0,0,0);
}

.normal-list.nav-link {
  margin: 0;
  padding: 0;
}

.coll-nav-list {
  padding: 5px;
}

/* -- Collection Campaign -- */

.collection-img-title-link {
  font-family: georgia;
  display: flex;
}

.collection-item-link {
  padding-top: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-bottom: 0px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.carousel-control-prev {
  left: 30px;
}

.carousel-control-next {
  right: 30px;
}

.content-inline {
  display: flex;
}

