/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: max-height 0.2s ease-out;
}

/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: none;
  width: 100%;
  border-radius: 0px;
  align-items: center;
}

.modal-content-input {
  position: relative;
  top: 36%;
  width: 80%;
  text-align: center;
  margin: auto;
}

.modal-content-input input {
  font-size: 12px;
  padding: 10px;
  width: 500px;
}

.btn-search-input {
  font-size: 20px;
  position: absolute;
  margin-left: -20px;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

/* The Close Button */

.btn-close {
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(0,0,0);
  font-weight: 500;
}

.btn-close:hover, .btn-close:focus {
  text-decoration: none;
  cursor: pointer;
  color: rgb(132,132,132);
}

