.site-header {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.site-header__contents {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .033em;
  padding: .75rem;
  z-index: 100;
  height: 61px;
}

@media (min-width: 576px) {
  .site-header__contents {
    align-items: stretch;
    padding: 0.75rem;
  }
}

@media (min-width: 576px) {
  .site-header__main-nav {
    display: block;
  }
}

.site-header__main-links {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  height: 100%;
}

@media (max-width: 768px) {
  .site-header__main-links {
    display: none;
  }
}

.site-header__parent {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  cursor: pointer;
  font-family: proxima-nova,sans-serif;
}

@media (max-width: 768px) {
  .site-header__parent {
    padding: 0px 5px;
  }
}

@media (max-width: 300px) {
  .site-header__parent {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.site-header__parent-span {
  position: relative;
  font-weight: 500;
  font-size: 11px;
}

.site-header__parent-span:hover {
  color: black;
  text-decoration: underline;
}

.site-header__logo {
  display: block;
  margin: auto;
}

@media (max-width: 300px) {
  .main-logo {
    vertical-align: middle;
    width: 40px;
    height: auto;
  }
}

.site-header__secondary-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  height: 100%;
}

@media (max-width: 768px) {
  .site-header__secondary-nav {
    display: none;
  }
}

.site-header__parent-span {
  text-decoration: none;
  color: currentColor;
  transition: all .2s ease-in-out;
  position: relative;
}

.site-header__cartbag {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  height: 100%;
}

/* Mobile Version */

.site-header__back {
  margin-right: .75rem;
  display: none;
}

.site-header__trigger {
  font-family: proxima-nova,sans-serif;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  align-items: center;
}

h1, h2, h3, h4, h5, li {
  font-family: georgia, sans-serif;
}

p, a, span, label, ul, button, td, th {
  font-family: montserrat;
  font-size: 12px;
  color: rgb(28,28,28);
  font-weight: 300;
}

body {
  transition: background-color .5s;
}

