html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, li {
  font-family: georgia, sans-serif;
}

p, a, span, label, ul, button, td, th {
  font-family: montserrat;
  font-size: 12px;
  color: rgb(28,28,28);
  font-weight: 300;
}

.font-bold a {
  font-weight: 700;
}

/* -- Main Banner -- */

.banner-warp {
  position: relative;
  text-align: center;
}

.main-banner {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .main-banner {
    height: 85vh;
    display: block;
    z-index: 0;
  }
}

.hero-title-block {
  position: absolute;
  top: 12px;
  right: 20px;
  text-align: right;
}

@media (max-width: 768px) {
  .hero-title-block {
    text-align: center;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.25rem .75rem;
  }
}

.hero-title {
  font-size: 38px;
}

.hero-btn {
  display: inline-flex;
}

.hero-btn .btn-type3 {
  padding-left: 15px;
}

.btn-type3 .btn {
  font-size: 9px;
}

@media (max-width: 768px) {
  .hero-btn {
    position: relative;
  }
}

/* -- Creative content -- */

.art-warp {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 576px) {
  .art-warp {
    padding: 20px 0px;
  }
}

.art-img {
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .art-img-lf {
    padding-right: 0.5rem;
  }
}

@media (max-width: 576px) {
  .art-img-rg {
    padding-left: 0.5rem;
  }
}

.featured-content_panel {
  font-weight: 300;
  padding-bottom: 20px;
}

.featured-content_title {
  font-size: 1.125rem;
  font-weight: normal;
  padding: 10px 0px;
}

.featured-content_text {
  padding: .75rem 0;
  line-height: 1.67em;
  letter-spacing: .03em;
  position: relative;
  text-align: justify;
  font-family: georgia;
}

.featured-content_text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125rem;
  border-top: .0625rem solid #333;
}

.featured-content_link {
  margin-top: 10px;
}

/* -- Front collection -- */

.front-product {
  width: 100%;
  height: auto;
}

.landing-collection-title {
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.landing-collection {
  padding: 10px 10px;
}

.product-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-card-tile {
  font-size: 14px;
}

.link-product:hover {
  color: black;
}

.product-card-price {
  font-weight: 600;
}

.product-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}

.product-wrapper .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-wrapper:hover .img-top {
  display: inline;
}

/* -- Footer site -- */

.site-footer {
  padding: 48px 24px 12px;
}

.site-footer-links {
  display: flex;
  justify-content: space-between;
}

.site-footer-parent {
  list-style-type: none;
}

.site-footer-sublinks {
  list-style-type: none;
}

.site-footer-sublinks li a {
  color: black;
  font-family: montserrat-light;
}

.site-footer-copyright {
  text-align: center;
  color: #979797;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}

.site-footer-copyright-center {
  text-align: center;
  color: #979797;
  width: 100%;
}

.footer-subs span {
  display: block;
  padding-left: 10px;
}

.head-sub-foot span {
  font-weight: 600;
  text-transform: uppercase;
}

/* -- Detail Product -- */

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

.carousel-control-next i, .carousel-control-prev i {
  filter: invert(100%);
  font-size: 16px;
}

.carousel-indicators li {
  width: 0px;
  height: 0px;
  border-radius: 100%;
}

.product-title {
  font-size: 24px;
  padding-bottom: 10px;
}

.product-price {
  font-size: 14px;
  font-weight: 500;
}

.price-strike {
  text-decoration: line-through;
  color: grey;
}

.product-price-sale {
  font-size: 14px;
  padding-left: 10px;
  font-weight: 500;
}

.product-color {
  font-size: 12px;
}

.product-swatch-header {
  font-size: 12px;
}

.product-swatch-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.product-swatches {
  display: inline-block;
  position: relative;
  justify-content: space-between;
}

.product-swatch {
  position: relative;
  padding: 0px 10px;
  font-size: 14px;
}

.description p {
  font-size: 0.75rem;
  line-height: 1.4em;
  margin-bottom: 1.125rem;
  letter-spacing: 0.06em;
}

.product-related-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0 0.75rem;
}

/* -- Button -- */

.btn-type1 {
  display: block;
  width: 100%;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 0;
  vertical-align: middle;
  background-color: rgb(0,0,0);
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.6rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.btn-type1:hover {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.btn-type2 {
  display: block;
  width: 150px;
  font-size: 10px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 0;
  vertical-align: middle;
  background-color: rgb(0,0,0);
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.6rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.btn-type2:hover {
  background-color: rgb(204,204,204);
  color: rgb(0,0,0);
}

.btn-type3 {
  display: inline-block;
}

.btn-type3 a {
  color: rgb(0,0,0);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  padding: 0px;
}

.btn-type3 a:after {
  content: '';
  height: 100%;
  width: 0%;
  position: absolute;
  border-bottom: .0625rem solid currentColor;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width .2s ease-in-out;
}

.btn-type3 a:hover:after {
  width: 100%;
  left: 50%;
}

.btn-type5 {
  display: inline-block;
  width: 200px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 2px solid rgb(255,255,255);
  background-color: rgb(28,28,28);
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.75rem;
  transition: all 0.2s ease-in-out;
}

.btn-type5:hover {
  background-color: rgb(255,255,255);
  color: rgb(28,28,28);
  border: 2px solid rgb(28,28,28);
}

/* -- Content blog -- */

.blog-header {
  padding: 5px 15px;
}

.blog-header-title {
  font-size: 24px;
}

.article-card {
  display: block;
  position: relative;
  width: 100%;
}

.article-card a {
  text-decoration: none;
  font-family: montserat-light;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.article-card:hover {
  color: black;
}

.article-image {
  width: 100%;
}

.article-card-title {
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  line-height: 1;
  position: relative;
  text-transform: none;
}

/* -- Lookbook Product -- */

.lookbook-header h1 {
  font-size: 24px;
}

.lookbook-story {
  font-size: 12px;
  font-weight: 300;
}

/* -- Header Collection -- */

.collection-header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 3.75rem;
  background-color: #fff;
  padding-bottom: .3rem;
  vertical-align: middle;
}

.collection-header-title {
  font-size: 24px;
  display: flex;
  float: left;
}

.collection-header-filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.collection-header-filters-content {
  display: flex;
  list-style: none;
}

.collection-header-filters-content li {
  font-weight: 600;
  font-family: montserrat;
  font-size: 11px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* -- Collection Campaign -- */

.coll-editorial-1 {
  width: 100%;
  height: 1000px;
  object-fit: scale-down;
  overflow: hidden;
  position: relative;
}

.coll-editorial-1 a {
  color: black;
}

.reveal {
  object-fit: cover;
  overflow: hidden;
}

.collection-title-block {
  position: absolute;
  top: 20px;
  left: 40px;
  right: 100px;
  text-align: left;
}

.col-short-info p {
  font-size: 12px;
  font-weight: 300;
}

.hero-title-collection {
  font-size: 18px;
}

/* -- Account -- */

/* -- Order History -- */

.history-btn-group {
  display: inline-flex;
  float: left;
}

/* -- Cart -- */

.header-box {
  padding: 15px 20px;
  width: 100%;
  background-color: rgb(28,28,28);
}

.header-box h1 {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-family: montserrat;
}

.item-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-type1-small {
  display: inline-block;
  width: auto;
  font-size: 12px;
  text-decoration: none;
  border-radius: 0px;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid #282828;
  background-color: #282828;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn-type1-small:hover {
  background-color: #ffffff;
  color: rgb(0,0,0);
}

.btn.btn-type1-small {
}

.frame-img {
  width: 100%;
}

.prod-title {
  font-size: 14px;
  color: rgb(28,28,28);
  font-weight: 400;
}

.prod-title:hover {
  color: rgb(186,186,186);
  text-decoration: none;
}

.price-item-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.disc-price-item-list {
  text-decoration: line-through;
  color: rgb(180,180,180);
}

.normal-price-item-list {
  font-weight: 600;
}

.detail-prod {
  padding-top: 10px;
}

.price-block {
  display: flex;
}

.total-price-sum {
  font-size: 20px;
}

.sum-conten li {
  font-family: montserrat;
}

/* -- Incriment form -- */

.btn-minus {
  display: inline-block;
  width: auto;
  height: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 3px 0px 0px 3px;
  border: solid 0.5px;
  border-color: rgb(195,195,195);
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 6px;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

.btn-plus i {
  color: rgb(0,0,0);
}

.btn-plus {
  display: inline-block;
  width: auto;
  height: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: solid 0.5px;
  border-color: rgb(195,195,195);
  border-radius: 0px 3px 3px 0px;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 6px;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

.input-group {
  width: 90px;
  height: 40px;
}

.input-number {
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.warp-qty {
  padding-bottom: 50px;
}

.form-select-input {
  background: none;
  font-size: 12px;
  border: none;
  border-radius: 0;
  cursor: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}

.group-form-select {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.label-form {
  color: rgb(28,28,28);
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  top: -15px;
  font-weight: 300;
}

.bar-btm {
  border-bottom: 1px solid rgb(0,0,0);
  display: block;
}

/* -- Header all -- */

.all-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.all-header-title {
  font-size: 24px;
}

/* -- Login Account & Register -- */

.title-header-login {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}

.pos-btn {
  display: block;
  text-align: center;
}

.forgot-pass {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-weight: 600;
}

.forgot-pass:hover {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #737373;
  font-weight: 600;
}

.form-check-label a {
  color: rgb(0,0,0);
  font-weight: 600;
}

/* -- Location -- */

.img-info {
  width: 100%;
  height: auto;
}

.area-selector {
  width: 300px;
}

.detail-frame {
  text-align: center;
}

.detail-frame span {
  font-size: 14px;
}

.detail-frame h1 {
  font-size: 18px;
  padding-bottom: 10px;
}

/* -- News -- */

.container-news {
  padding: 0px 200px 0px;
}

@media (max-width: 768px) {
  .container-news {
    padding: 0px 50px 0px;
  }
}

.news-head {
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.news-detail-header {
  font-size: 26px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .news-detail-header {
    font-size: 25px;
    letter-spacing: 3px;
    padding-bottom: 15px;
  }
}

.news-date {
  font-size: 14px;
}

@media (max-width: 768px) {
  .news-date {
    font-size: 12px;
  }
}

.no-event {
  text-align: center;
  padding: 60px;
}

.no-event span {
  font-size: 26px;
  text-align: center;
}

/* -- Collection Campaign -- */

.collection-img-title-link {
  font-family: georgia;
  display: flex;
}

.collection-item-link {
  padding-top: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-bottom: 0px;
}

.carousel-control-prev {
  left: 30px;
}

.carousel-control-next {
  right: 30px;
}

.maintenance-img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

